.MainPageMessage {
    width: 150%;
    height: 95vh;
    background-image: url("./mainBackgrownd.jpg");
    background-position: 70% 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
}

.MPMMessahe {
    color: white;
    font-size: 230%;
    padding-left: 20px;
    width: 200px;
}