.MainPageMessage {
    width: 150%;
    height: 95vh;
    background-image: url("./mainBackgrownd.jpg");
    background-position: 70% 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
}

.MPMMessahe {
    color: rgb(241, 151, 119);
    font-size: 230%;
    margin-left: 12%;
    width: 200px;
}

@media (min-width: 769px) {
    .MPMMessahe {
        background-color: rgba(12, 12, 12, 0.5);
        padding: 50px;
        padding-left: 15%;
        margin-left: 0;
        width: max-content;
        text-align: right;
        border-radius: 0 7px 7px 0;
    }
}