.wub {
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.wub-title {
    margin: 50px auto;
    width: 1300px;
}

.wub-reasons {
    width: 100%;
}

.reason {
    width: fit-content;
    margin: 50px 5%;
}