.TeamSection {
    text-align: center;
    border: 1px rgb(250, 217, 206) solid;
    border-radius: 7px;
    margin: 20px 5%;
    padding: 20px 0;
    Button {
        margin-top: 15px;
        background-color: coral;
        color: white;
    }
}