.Footer {
    background-color: rgb(49, 49, 49);
    color: white;
    padding-bottom: 20px;
    margin-top: 40px;
    .FooterIcon {
        margin: 5px 30px 5px 30px;
    }
    .footerTit {
        margin: 25px 0 10px 20px;
    }
}
